<div class="content">
  <h1 class="title">Registration/h1>
  <hr class="line">

  <form class="regForm formColumn" method="POST" action="/registration">
    <div class="layout">
      <div>
        <input class="field" type="email" name="email" placeholder="email">
      </div>
      <div>
        <input class="field" type="password" minlength="4" name="password" placeholder="password">
      </div>
      <div>
        <input class="field" type="text" name="name" placeholder="name">
      </div>
      <button class="regButtons">Submit</button>
  </form>
</div>
</div>
