<div class="content">
  <h1 class="title">Authentication</h1>
  <hr class="line">

  <form class="regForm formColumn" method="POST" action="/signin">
    <div class="layout">
      <div>
        <input class="field" type="email" name="email" placeholder="email">
      </div>
      <div>
        <input class="field" type="password" name="password" placeholder="password">
      </div>
    </div>

    <button class="regButtons">Submit</button>

  </form>
</div>
